# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage
.nyc_output

# Dependency directories
node_modules/

# TypeScript dist folder
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# editor directory
.vscode/**
.idea/**
**/*.iml

# test reports
test/reports/
